/* n0 - 1.0.0 */
.fade {
  opacity: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.flash {
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps(1);
          animation-timing-function: steps(1);
  opacity: 0; }

@-webkit-keyframes flash {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes flash {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; } }

.from-top,
.from-right,
.from-bottom,
.from-left {
  opacity: 0;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.from-top {
  -webkit-animation-name: from-top;
          animation-name: from-top;
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh); }

.from-right {
  -webkit-animation-name: from-right;
          animation-name: from-right;
  -webkit-transform: translateX(10vw);
          transform: translateX(10vw); }

.from-bottom {
  -webkit-animation-name: from-bottom;
          animation-name: from-bottom;
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh); }

.from-left {
  -webkit-animation-name: from-left;
          animation-name: from-left;
  -webkit-transform: translateX(-10vw);
          transform: translateX(-10vw); }

@-webkit-keyframes from-top {
  0% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes from-top {
  0% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes from-right {
  0% {
    -webkit-transform: translateX(-10);
            transform: translateX(-10);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes from-right {
  0% {
    -webkit-transform: translateX(-10);
            transform: translateX(-10);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes from-bottom {
  0% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1; } }

@keyframes from-bottom {
  0% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1; } }

@-webkit-keyframes from-left {
  0% {
    -webkit-transform: translateX(-10vw);
            transform: translateX(-10vw);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes from-left {
  0% {
    -webkit-transform: translateX(-10vw);
            transform: translateX(-10vw);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

.delay-1 {
  -webkit-animation-delay: .1s;
          animation-delay: .1s; }

.delay-2 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s; }

.delay-3 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s; }

.delay-4 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.delay-5 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.direction-reverse {
  -webkit-animation-direction: reverse;
          animation-direction: reverse; }

.direction-alternate {
  -webkit-animation-direction: alternate;
          animation-direction: alternate; }

.duration-1 {
  -webkit-animation-duration: .1s;
          animation-duration: .1s; }

.duration-2 {
  -webkit-animation-duration: .2s;
          animation-duration: .2s; }

.duration-3 {
  -webkit-animation-duration: .4s;
          animation-duration: .4s; }

.duration-4 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

.duration-5 {
  -webkit-animation-duration: 2s;
          animation-duration: 2s; }

.iteration-infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.iteration-1 {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.iteration-2 {
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2; }

.iteration-3 {
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3; }

.iteration-4 {
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4; }

.iteration-5 {
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5; }

.state-running {
  -webkit-animation-play-state: running;
          animation-play-state: running; }

.state-paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }

.timing-ease {
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease; }

.timing-ease-in {
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }

.timing-ease-out {
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

.timing-ease-in-out {
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

.timing-linear {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.fill-forwards {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.fill-backwards {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards; }

.fill-both {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
