//

// General

//

$value-miliseconds: 1ms;
$value-seconds: 1s;

$value-1: (100 * $value-miliseconds);
$value-2: (200 * $value-miliseconds);
$value-3: (400 * $value-miliseconds) ;
$value-4: (1 * $value-seconds);
$value-5: (2 * $value-seconds);
$value-6: (4 * $value-seconds);


//

// Delay

//

$delay-name: "delay";

$delay-list: (
	"1": $value-1,
	"2": $value-2,
	"3": $value-3,
	"4": $value-4,
	"5": $value-5,
	"6": $value-6
);

//

// Direction

//

$direction-name: "direction";

$direction-list: (
	"reverse": "reverse",
	"alternate": "alternate",
);

// 

// Duration

//

$duration-name: "duration";

$duration-list: (
	"1": $value-1,
	"2": $value-2,
	"3": $value-3,
	"4": $value-4,
	"5": $value-5,
	"6": $value-6
);

//

// Fill mode

//

$fill-mode-name: "fill";

$fill-mode-list: (
	"forwards": "forwards",
	"backwards": "backwards",
	"both": "both"
);

//

// Iteration count

//

$iteration-count-name: "iteration";

$iteration-count-list: (
	"infinite": "infinite",
	"1": 1,
	"2": 2,
	"3": 3,
	"4": 4,
	"5": 5
);


//

// Play state

//

$play-state-name: "state";

$play-state-list: (
	"running": "running",
	"paused": "paused"
);

//

// Timing function

//

$timing-function-name: "timing";

$timing-function-list: (
	"ease": "ease",
	"ease-in": "ease-in",
	"ease-out": "ease-out",
	"ease-in-out": "ease-in-out",
	"linear": "linear"
);