//

// General

//

$value-1: ".1s";
$value-2: ".2s";
$value-3: ".4s";
$value-4: "1s";
$value-5: "2s";


//

// Delay

//

$delay-name: "delay";

$delay-list: (
	"1": $value-1,
	"2": $value-2,
	"3": $value-3,
	"4": $value-4,
	"5": $value-5
);

//

// Direction

//

$direction-name: "direction";

$direction-list: (
	"reverse": "reverse",
	"alternate": "alternate",
);

// 

// Duration

//

$duration-name: "duration";

$duration-list: (
	"1": $value-1,
	"2": $value-2,
	"3": $value-3,
	"4": $value-4,
	"5": $value-5
);

//

// Fill mode

//

$fill-mode-name: "fill";

$fill-mode-list: (
	"forwards": "forwards",
	"backwards": "backwards",
	"both": "both"
);

//

// Iteration count

//

$iteration-count-name: "iteration";

$iteration-count-list: (
	"infinite": "infinite",
	"1": 1,
	"2": 2,
	"3": 3,
	"4": 4,
	"5": 5
);


//

// Play state

//

$play-state-name: "state";

$play-state-list: (
	"running": "running",
	"paused": "paused"
);

//

// Timing function

//

$timing-function-name: "timing";

$timing-function-list: (
	"ease": "ease",
	"ease_in": "ease-in",
	"ease_out": "ease-out",
	"ease_in_out": "ease-in-out",
	"linear": "linear"
);