/*

	Fade

*/

.fade-out {
	opacity: 1;
	animation-name: fade-out;
	animation-duration: .4s;
	animation-fill-mode: forwards;
	transition: opacity .2s ease-out;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fade-in {
	opacity: 0;
	animation-name: fade-in;
	animation-duration: .4s;
	animation-fill-mode: forwards;
	transition: opacity .2s ease-in;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}