.from-top,
.from-right,
.from-bottom,
.from-left {
	opacity: 0;
	animation-duration: .4s;
	animation-fill-mode: forwards;
}

.from-top {
	animation-name: from-top;
	transform: translateY(-10vh);
}

.from-right {
	animation-name: from-right;
	transform: translateX(10vw);
}

.from-bottom {
	animation-name: from-bottom;
	transform: translateY(10vh);
}

.from-left {
	animation-name: from-left;
	transform: translateX(-10vw);
}

@keyframes from-top {
	0% {
		transform: translateY(-10vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes from-right {
	0% {
		transform: translateX(-10);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes from-bottom {
	0% {
		transform: translateY(10vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0vh);
		opacity: 1;
	}
}

@keyframes from-left {
	0% {
		transform: translateX(-10vw);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}