/*

	Translate

*/

.from_top,
.from_right,
.from_bottom,
.from_left {
	opacity: 0;
	animation-duration: .4s;
	animation-fill-mode: forwards;
}

.from_top {
	animation-name: from_top;
	transform: translateY(-10vh);
}

.from_right {
	animation-name: from_right;
	transform: translateX(10vw);
}

.from_bottom {
	animation-name: from_bottom;
	transform: translateY(10vh);
}

.from_left {
	animation-name: from_left;
	transform: translateX(-10vw);
}

@keyframes from_top {
	0% {
		transform: translateY(-10vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes from_right {
	0% {
		transform: translateX(-10);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes from_bottom {
	0% {
		transform: translateY(10vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0vh);
		opacity: 1;
	}
}

@keyframes from_left {
	0% {
		transform: translateX(-10vw);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}